[submodule "external/mio"]
	path = external/mio
	url = https://github.com/mandreyel/mio
[submodule "external/cmrc"]
	path = external/cmrc
	url = https://github.com/vector-of-bool/cmrc
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
